@charset "utf-8";
*, *::before, *::after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  list-style-type: none;
  user-select: none;
}

body {
  background-color: #fff;
}


// -------------------------------------------------
// animation bubble ---

.unit {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  canvas {
    display: block;
  }
}


// .colorSample {
//   color: #ff000089;
//   color: #ff0000d2;
//   color: #333333aa;
//   color: #87ceeb;
//   color: #c8efff;
//   color: #87cfebb3;
//   color: #0bdc0083;
//   color: #07a421;
//   color: rgba(255, 102, 0, 0.437);
//   color: rgba(170, 0, 255, 0.537);
//   color: rgba(170, 0, 255, 0.537);
//   color: rgba(255, 255, 255, 0.296);
//   color: #f2e797;
//   color: #f5da0a;
//   color: #ffa600ba;
//   color: #ff70e290;
//   color: #fff0f8cb;
//   color: #333333aa;
//   color: rgba(255, 0, 0, 0.537);
// }











































































