*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  list-style-type: none;
  user-select: none;
}

body {
  background-color: #fff;
}

.unit {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.unit canvas {
  display: block;
}
